[submodule "frappe_app_template"]
	path = frappe_app_template
	url = https://github.com/Freddyslim/frappe_app_template.git
[submodule "erpnext_app_template"]
	path = erpnext_app_template
	url = https://github.com/Freddyslim/erpnext_app_template.git
