[submodule "template"]
	path = template
	url = https://github.com/Freddyslim/frappe_app_template

[submodule "/home/runner/work/zep_dummy_app/zep_dummy_app/erpnext_app_template"]
	path = /home/runner/work/zep_dummy_app/zep_dummy_app/erpnext_app_template
	url = https://github.com/seclution/erpnext_app_template.git
